* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    font-size: 16px;
}

.circuits-lap-times-container {
    display: flex;
    flex-direction: column;
    width: auto;
    margin-top: 2rem!important;
}

.circuits-map {
    /* border: 1px solid #ccc; */
    width: 75%;
}

.circuit-info_container {
    background-color: var(--black);
    color: var(--text-primary);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    flex: 1;
}

.circuits-map-info_container {
     color: var(--text-secondary);
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
}

.circuit-info_title {
    font-size: 1.5rem;
    width: 100%;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.circuit-info_subtitle {
    color: var(--text-secondary);
    font-size: 0.9rem;
    width: 100%;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* .circuit-info_text {
    color: var(--text-primary);
} */

.circuit-info_flag {
    width: 4rem;
    height: 4rem;
}

.circuit-info_header {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    flex: 1;
    max-width: calc(100% - 4.5rem);
}

.circuit-info_top {
    width: 100%;
    height: 64px;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
