* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
    font-size: 16px;
}

.circuits-lap-times-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100vw;
    height: 100vh;
}

.circuit-info_container {
    width: 30%;
    height: 400px;
    background-color: #091c7a;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.circuits-map-info_container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
}

.circuit-info_title {
    color: #fff;
    font-size: 1.5rem;
    width: 100%;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.circuit-info_subtitle {
    color: #ccc;
    font-size: 0.9rem;
    width: 100%;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.circuit-info_flag {
    width: 4rem;
    height: 4rem;
}

.circuit-info_header {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    flex: 1;
    max-width: calc(100% - 4.5rem);
}

.circuit-info_top {
    width: 100%;
    height: 64px;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
