/* 
    GENERALS
*/
/* change the filled track (bar showing selected range) */
.rc-slider-track {
    background-color: var(--primary);
}

/* change the unfilled track (rail) */
.rc-slider-rail {
    background-color: var(--border-subtle);
}

/* change the handle (thumb) */
.rc-slider-handle {
    border: solid 2px var(--primary);
    background-color: var(--bg-panel);
}

/* optional: change “dot” marks when present */
.rc-slider-dot-active {
    border-color: var(--primary);
}

/* tooltip background */
.rc-slider-tooltip-inner {
    background-color: var(--secondary);
    color: var(--text-primary);
}

/* tooltip arrow */
.rc-slider-tooltip-arrow {
    border-top-color: var(--secondary);
}

/* 
    MAIN SLIDER
*/
#year-range-slider .rc-slider-rail {
    background-color: var(--secondary);
}
