/* change the filled track (bar showing selected range) */
#count-slider .rc-slider-track {
    background-color: var(--primary);
}

/* change the unfilled track (rail) */
#count-slider .rc-slider-rail {
    background-color: var(--border-subtle);
}

/* change the handle (thumb) */
#count-slider .rc-slider-handle {
    border: solid 2px var(--primary);
    background-color: var(--bg-panel);
}

/* optional: change “dot” marks when present */
#count-slider .rc-slider-dot-active {
    border-color: #FF1E00;
}

/* tooltip background */
#count-slider .rc-tooltip-inner {
    background-color: #C4C4C4;
    color: #fff;
}

/* tooltip arrow */
#count-slider .rc-tooltip-arrow {
    border-top-color: #C4C4C4;
}