/* 
    GENERALS
*/
/* change the filled track (bar showing selected range) */
.rc-slider-track {
    background-color: var(--primary);
}

/* change the unfilled track (rail) */
.rc-slider-rail {
    background-color: var(--border-subtle);
}

/* change the handle (thumb) */
.rc-slider-handle {
    border: solid 2px var(--primary) !important;
    background-color: var(--bg-panel) !important;
}

/*handle during dragging*/
.rc-slider-handle-dragging {
    border-color: var(--primary) !important;
    box-shadow: 0 0 0 5px color-mix(in srgb, var(--primary) 50%, transparent) !important;
}

/* optional: change “dot” marks when present */
.rc-slider-dot-active {
    border-color: var(--primary);
}

/* tooltip background */
.rc-slider-tooltip-inner {
    background-color: var(--secondary) !important;
    color: var(--text-secondary) !important;
}

/* tooltip arrow */
.rc-slider-tooltip-arrow {
    border-top-color: var(--secondary);
}


/* 
    MAIN SLIDER
*/
#year-range-slider .rc-slider-rail {
    background-color: var(--secondary);
}
