/* =========================================================
   Base tokens (do NOT change per theme)
   ========================================================= */

:root {
    --primary: #FF1E00;
    --secondary: #C4C4C4;
    --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

/* =========================================================
   LIGHT THEME
   ========================================================= */

[data-theme="light"] {
    --bg-main: #FFFFFF;
    --bg-panel: #F5F5F5;

    --text-primary: #15151E;
    --text-secondary: #e4e4e4;

    --border-subtle: #E0E0E0;
}

body {
    background-color: var(--bg-main);
    color: var(--text-primary);
    margin: 0;
    font-family: var(--font-family);
}